body {
	font-family: "メイリオ", "Calibri", "ＭＳ Ｐゴシック", "MS PGothic";
	font-size: 11pt;
	color: white;
	background-color: black;
	
	scrollbar-base-color: black;
}

a {
	color: white;
	text-decoration:none;
}

pre {
  border: 1px solid white;
  padding: 10px;
  font-family: "Consolas";
  font-size: 12pt;
  white-space: pre-wrap;
}